// $primaryColor: #3B82F6 !default;
$primaryColor:#cf2080 !default;
$secundaryColor: #f30e0e !default;
$primaryLightColor: lighten($primaryColor, 20%) !default;
$primaryDarkColor: darken($primaryColor, 10%) !default;
$primaryDarkerColor: darken($primaryDarkColor, 10%) !default;
$primaryLighterColor: lighten($primaryColor, 40%) !default;
$secundaryLightColor: #474747 !default;
$secundaryLighterColor: lighten($secundaryLightColor,20%) !default;
$primaryTextColor: #ffffff !default;

$bkgButtonStd:rgb(221, 224, 21) !default;
$bkgButtonStdDarken:darken($bkgButtonStd, 10%) !default;
$bkgButtonStdLight:lighten($bkgButtonStd, 20%) !default;
$bkgButtonStdText:rgb(228, 228, 228) !default;
$bkgButtonStdTextDarken:darken($bkgButtonStdText,50%) !default;
$bkgButtonStdTextLight:lighten($bkgButtonStdText,20%) !default;

$highlightBg: #EFF6FF !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryDarkColor, 1) !default;

@import '_variables';
@import '_fonts';
@import '../../theme-base/_components';
@import '_extensions';