<app-spinner-default></app-spinner-default>
<p-toast></p-toast>

<div class="flex flex-column h-screen ">
    <div class="flex justify-content-between divEditTop">
        <div class="flex">
            <app-main-menu class="align-self-center"></app-main-menu>
            <p class="text-2xl font-bold m-2 align-self-center">{{'RopingDivision.plural' | translate}}</p>
        </div>
        <div class="flex">
            <p-button icon="pi pi-plus" severity="help" class="mr-2" (onClick)="onNewRegister()"></p-button>          
        </div>
    </div>
    <div class="flex-grow-1 overflow-hidden divEditCenter">
        <p-table 
        styleClass="p-datatable-striped"
        [value]="ropingDivisionList" 
        selectionMode="single"
        [(selection)]="selectRopingDivision" 
        (onRowSelect)="onRowSelect($event)"
        dataKey="cdnRopingDivision"
        [scrollable]="true" scrollHeight="calc(100vh - 200px)" 
        [resizableColumns]="true"  
        [paginator]="true"
        [rows]="paginationRows"
        currentPageReportTemplate="{{'Showing' | translate}} {first} {{'toAte' | translate}} {last} {{'ofDe' | translate}} {totalRecords} {{'Record.plural' | translate }}"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="environment.rowsPerPageOptions"
        [rows]="environment.rowsInitial"
        [totalRecords]="paginationTotal"
        (onLazyLoad)="onLazyLoad($event)"
        [lazy]="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="cdnRopingDivision"                 pResizableColumn>{{'Code.singular'                          | translate }}<p-sortIcon field="cdnRopingDivision"></p-sortIcon></th>
                    <th pSortableColumn="divison.name"                      pResizableColumn>{{'Division.singular'                      | translate }}<p-sortIcon field="divison.name"></p-sortIcon></th>
                    <th pSortableColumn="rewardKind.name"                   pResizableColumn>{{'StartDate.singular'                     | translate }}<p-sortIcon field="rewardKind.name"></p-sortIcon></th>
                    <th pSortableColumn="isOfficialDivision"                pResizableColumn>{{'OfficialDivision.singular'              | translate }}<p-sortIcon field="isOfficialDivision"></p-sortIcon></th>
                    <th pSortableColumn="isForUnion"                        pResizableColumn>{{'ForUnion.singular'                      | translate }}<p-sortIcon field="isForUnion"></p-sortIcon></th>
                    <th pSortableColumn="typeClassification.name"           pResizableColumn>{{'TypeClassification'                     | translate }}<p-sortIcon field="typeClassification.name"></p-sortIcon></th>
                    <th pSortableColumn="typeClassificationTime.name"       pResizableColumn>{{'typeClassificationTime.singular'        | translate }}<p-sortIcon field="typeClassificationTime.name"></p-sortIcon></th>
                </tr>
                <tr>
                    <th><p-columnFilter type="text" field="cdnRopingDivision"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="divison.name"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="rewardKind.name"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="isOfficialDivision"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="isForUnion"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="typeClassification.name"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="typeClassificationTime.name"></p-columnFilter></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ropingDivision>
                <tr [pSelectableRow]="ropingDivision">
                    <td style="width:30%">{{ ropingDivision.cdnRopingDivision }}</td>
                    <td>{{ ropingDivision.divison.name }}</td>
                    <td>{{ ropingDivision.rewardKind.name}}</td>
                    <td>{{ ropingDivision.isOfficialDivision}}</td>
                    <td>{{ ropingDivision.isForUnion }}</td>
                    <td>{{ ropingDivision.typeClassification.name}}</td>
                    <td>{{ ropingDivision.typeClassificationTime.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex divEditBottom">
        <div class="flex justify-content-end flex-wrap  w-full">
            <p-button icon="pi pi-trash" styleClass="p-button-danger"></p-button>
            <p-button icon="pi pi-save" styleClass="p-button-success" ></p-button>
            <p-button icon="pi pi-sign-in" ></p-button>
        </div>
    </div>
</div>

