<app-spinner-default></app-spinner-default>
<p-toast></p-toast>

<div class="flex flex-column h-screen ">
    <div class="flex justify-content-between divEditTop">
        <div class="flex">
            <app-main-menu class="align-self-center"></app-main-menu>
            <p class="text-2xl font-bold m-2 align-self-center">{{'EntryForm.plural' | translate}}</p>
        </div>
        <div class="flex">
            <p-button icon="pi pi-plus" severity="help" class="mr-2" (onClick)="onNewRegister()"></p-button>          
        </div>
    </div>
    <div class="flex-grow-1 overflow-hidden divEditCenter">
        <p-table 
        styleClass="p-datatable-striped"
        [value]="entryFormList" 
        selectionMode="single"
        [(selection)]="selectEntryForm" 
        (onRowSelect)="onRowSelect($event)"
        dataKey="cdnEntryForm"
        [scrollable]="true" scrollHeight="calc(100vh - 200px)" 
        [resizableColumns]="true"  
        [paginator]="true"
        [rows]="paginationRows"
        currentPageReportTemplate="{{'Showing' | translate}} {first} {{'toAte' | translate}} {last} {{'ofDe' | translate}} {totalRecords} {{'Record.plural' | translate }}"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="environment.rowsPerPageOptions"
        [rows]="environment.rowsInitial"
        [totalRecords]="paginationTotal"
        (onLazyLoad)="onLazyLoad($event)"
        [lazy]="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="cdnEntryForm"                  pResizableColumn>{{'Code.singular'                | translate }}<p-sortIcon field="cdnEntryForm"          ></p-sortIcon></th>
                    <th pSortableColumn="note"                          pResizableColumn>{{'Note.singular'                | translate }}<p-sortIcon field="note"                  ></p-sortIcon></th>
                    <th pSortableColumn="roping.name"                   pResizableColumn>{{'Roping.singular'              | translate }}<p-sortIcon field="roping.name"           ></p-sortIcon></th>
                    <th pSortableColumn="ropingDivision.name"           pResizableColumn>{{'RopingDivision.singular'      | translate }}<p-sortIcon field="ropingDivision.name"   ></p-sortIcon></th>
                    <th pSortableColumn="ropingType.name"               pResizableColumn>{{'RopingType.singular'          | translate }}<p-sortIcon field="ropingType.name"       ></p-sortIcon></th>
                    <th pSortableColumn="competitor.name"               pResizableColumn>{{'Competitor.singular'          | translate }}<p-sortIcon field="competitor.name"       ></p-sortIcon></th>
                    <th pSortableColumn="animal.name"                   pResizableColumn>{{'Animal.singular'              | translate }}<p-sortIcon field="animal.name"           ></p-sortIcon></th>
                </tr>
                <tr>
                    <th><p-columnFilter type="text" field="cdnEntryForm"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="note"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="roping.name"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="ropingDivision.name"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="ropingType.name"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="competitor.name"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="animal.name"></p-columnFilter></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-entryForm>
                <tr [pSelectableRow]="entryForm">
                    <td style="width:30%">{{ entryForm.cdnEntryForm }}</td>
                    <td>{{ entryForm.note }}</td>
                    <td>{{ entryForm.roping?.name}}</td>
                    <td>{{ entryForm.ropingDivision?.name}}</td>
                    <td>{{ entryForm.ropingType?.name}}</td>
                    <td>{{ entryForm.competitor?.name}}</td>
                    <td>{{ entryForm.animal?.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex divEditBottom">
        <div class="flex justify-content-end flex-wrap  w-full">
            <p-button icon="pi pi-trash" styleClass="p-button-danger"></p-button>
            <p-button icon="pi pi-save" styleClass="p-button-success" ></p-button>
            <p-button icon="pi pi-sign-in" ></p-button>
        </div>
    </div>
</div>

